@{
    ViewBag.Title = "Mõned andmed minu kohta";
}
<style>

    .gaga {
        font-family: Arial, sans-serif;
        font-size: 24px;
    }
</style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div gaga>
    <p>Im üks parimaid dota mängijaid kunagi</p>
    <img src="~/Images/sfchik.jpg" width="400" height="400" />
    <br />

    <p>Ma õpinn tthk's, ja ma VÄGA ARMASTAN SEE KOOL</p>
    <img src="~/Images/TTHK.jpg" width="400" height="400" />
    <br />

    <p>Ma armadtan never die laulad!!!!!!!!!!!!!</p>
    <img src="~/Images/never.jpg" width="400" height="400" />
    <br />
    <a href="https://open.spotify.com/track/3eLmhbfsldBvGnjs1toygM?si=d56c00afc5a748aa">Click here to listen this amazing song</a>
</div>